Repository souhailhajjaji/gestionproject: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, test-backend, test-frontend, sonarqube, package-backend, package-frontend

.gitlab-ci.yml:

stages:
  - build
  - test
  - quality
  - package
  - deploy

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2"
  DOCKER_TLS_CERTDIR: "/certs"
  BACKEND_IMAGE: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHA
  FRONTEND_IMAGE: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHA

cache:
  paths:
    - .m2/
    - node_modules/

# Backend Build
build-backend:
  stage: build
  image: maven:3.9.9-eclipse-temurin-25
  working_directory: backend
  script:
    - mvn clean compile -B
  rules:
    - changes:
        - backend/**/*

# Frontend Build
build-frontend:
  stage: build
  image: node:22-alpine
  working_directory: frontend
  script:
    - npm ci
    - npm run build -- --configuration production
  rules:
    - changes:
        - frontend/**/*

# Backend Tests
test-backend:
  stage: test
  image: maven:3.9.9-eclipse-temurin-25
  working_directory: backend
  script:
    - mvn test -B
  artifacts:
    reports:
      junit: backend/target/surefire-reports/*.xml
    paths:
      - backend/target/site/jacoco/
  rules:
    - changes:
        - backend/**/*

# Frontend Tests
test-frontend:
  stage: test
  image: node:22-alpine
  working_directory: frontend
  script:
    - npm ci
    - npm run test -- --browsers=ChromeHeadless --watch=false --code-coverage
  artifacts:
    reports:
      junit: frontend/reports/junit.xml
    paths:
      - frontend/coverage/
  rules:
    - changes:
        - frontend/**/*

# SonarQube Analysis
sonarqube:
  stage: quality
  image: maven:3.9.9-eclipse-temurin-25
  working_directory: backend
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
  script:
    - mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
      -Dsonar.projectKey=$CI_PROJECT_PATH_SLUG
      -Dsonar.host.url=$SONAR_HOST_URL
      -Dsonar.login=$SONAR_TOKEN
  rules:
    - changes:
        - backend/**/*

# Package Backend
package-backend:
  stage: package
  image: maven:3.9.9-eclipse-temurin-25
  working_directory: backend
  script:
    - mvn package -DskipTests -B
    - docker build -t $BACKEND_IMAGE .
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker push $BACKEND_IMAGE
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - backend/**/*
  needs:
    - test-backend

# Package Frontend
package-frontend:
  stage: package
  image: docker:27
  services:
    - docker:27-dind
  working_directory: frontend
  script:
    - docker build -t $FRONTEND_IMAGE .
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker push $FRONTEND_IMAGE
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - frontend/**/*
  needs:
    - test-frontend

# Deploy to Kubernetes
deploy:
  stage: deploy
  image: bitnami/kubectl:latest
  script:
    - kubectl config use-context $K8S_CONTEXT
    - kubectl apply -f infrastructure/kubernetes/namespace.yaml
    - kubectl apply -f infrastructure/kubernetes/configmap.yaml
    - kubectl apply -f infrastructure/kubernetes/secrets.yaml
    - kubectl apply -f infrastructure/kubernetes/postgres.yaml
    - kubectl apply -f infrastructure/kubernetes/keycloak.yaml
    - kubectl apply -f infrastructure/kubernetes/rustfs.yaml
    - kubectl set image deployment/backend backend=$BACKEND_IMAGE
    - kubectl set image deployment/frontend frontend=$FRONTEND_IMAGE
    - kubectl rollout status deployment/backend
    - kubectl rollout status deployment/frontend
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  needs:
    - package-backend
    - package-frontend
  environment:
    name: production
    url: https://gestionprojet.example.com

refactor: Full-stack refactoring with error handling and service layer separation
  backend/Dockerfile
  backend/pom.xml
  backend/src/main/java/com/gestionprojet/GestionProjetApplication.java
  backend/src/main/java/com/gestionprojet/config/SecurityConfig.java
  backend/src/main/java/com/gestionprojet/controller/ProjectController.java
  backend/src/main/java/com/gestionprojet/dto/ProjectMapper.java
  backend/src/main/java/com/gestionprojet/dto/ProjectRequestDTO.java
  backend/src/main/java/com/gestionprojet/dto/ProjectResponseDTO.java
  backend/src/main/java/com/gestionprojet/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/gestionprojet/exception/ProjectNotFoundException.java
  backend/src/main/java/com/gestionprojet/repository/ProjectRepository.java
  backend/src/main/java/com/gestionprojet/repository/TaskRepository.java
  backend/src/main/java/com/gestionprojet/service/KeycloakService.java
  backend/src/main/java/com/gestionprojet/service/ProjectService.java
  backend/src/main/java/com/gestionprojet/service/ProjectServiceImpl.java
  backend/src/main/resources/application.yml
  frontend/Dockerfile
  frontend/angular.json
  frontend/proxy.conf.json
  frontend/src/app/core/service/api.service.ts
  frontend/src/app/features/projects/project-list/project-list.component.ts
  frontend/src/app/features/users/user-list/user-list.component.ts
  start.sh
  stop.sh
Due: build-backend, build-frontend, test-backend, test-frontend, sonarqube, package-backend, package-frontend

feat: Add Keycloak integration, improve security config and update deployment scripts
  AGENTS.md
  SETUP.md
  backend/.classpath
  backend/.factorypath
  backend/.project
  backend/.settings/org.eclipse.core.resources.prefs
  backend/.settings/org.eclipse.jdt.apt.core.prefs
  backend/.settings/org.eclipse.jdt.core.prefs
  backend/.settings/org.eclipse.m2e.core.prefs
  backend/Dockerfile
  backend/pom.xml
  backend/src/main/java/com/gestionprojet/config/CorsConfig.java
  backend/src/main/java/com/gestionprojet/config/SecurityConfig.java
  backend/src/main/java/com/gestionprojet/controller/KeycloakController.java
  backend/src/main/java/com/gestionprojet/service/KeycloakService.java
  backend/src/main/resources/application.yml
  frontend/proxy.conf.json
  frontend/src/app/app.component.ts
  frontend/src/app/core/interceptor/auth.interceptor.ts
  frontend/src/app/core/service/api.service.ts
  frontend/src/app/core/service/keycloak.service.ts
  frontend/src/app/features/projects/project-detail/project-detail.component.ts
  frontend/src/app/features/users/user-detail/user-detail.component.ts
  frontend/src/app/features/users/user-list/user-list.component.ts
  frontend/src/silent-check-sso.html
  infrastructure/docker-compose.yml
  start.sh
  stop.sh
Due: build-backend, build-frontend, test-backend, test-frontend, sonarqube, package-backend, package-frontend

fix: Correct Spring Boot version and enhance Keycloak integration
  AGENTS.md
  backend/pom.xml
  backend/src/main/java/com/gestionprojet/config/KeycloakConfig.java
  backend/src/main/java/com/gestionprojet/service/KeycloakService.java
  frontend/package.json
  frontend/public/silent-check-sso.html
  frontend/src/app/app.routes.ts
  frontend/src/app/core/guard/auth.guard.ts
  frontend/src/app/features/auth/login/login.component.ts
  frontend/src/app/features/users/user-list/user-list.component.ts
  frontend/src/app/shared/components/navbar/navbar.component.ts
  infrastructure/docker-compose.yml
  infrastructure/keycloak/gestion-projet-realm.json
Due: build-backend, build-frontend, test-backend, test-frontend, sonarqube, package-backend, package-frontend

docs: Update and simplify AGENTS.md with streamlined commands and code style guide
  AGENTS.md
Due: none

fix: Resolve 'Access denied' error in user creation
  backend/src/main/java/com/gestionprojet/controller/UserController.java
  backend/src/main/java/com/gestionprojet/service/UserService.java
  frontend/proxy.conf.json
Due: build-backend, build-frontend, test-backend, test-frontend, sonarqube, package-backend, package-frontend

fix: Set default dates for project creation form
  frontend/src/app/features/projects/project-list/project-list.component.ts
Due: build-frontend, test-frontend, package-frontend

fix: Resolve project serialization error (YearOfEra)
  backend/src/main/java/com/gestionprojet/dto/ProjectResponseDTO.java
  backend/src/main/java/com/gestionprojet/model/Project.java
  backend/src/main/resources/db/migration/V2__reset_projects.sql
Due: build-backend, test-backend, sonarqube, package-backend

fix: Task list filter buttons now work correctly
  frontend/src/app/features/tasks/task-list/task-list.component.ts
Due: build-frontend, test-frontend, package-frontend
